@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat&display=swap");
@import-normalize;

:root {
  --white-color: #fff;
  --regular-text-color: #121417;
  --accent-text-color: #3470ff;
  --regular-btn-color: #3470ff;
  --active-btn-color: #0b44cd;
  --backdrop-color: #12141780;
}

.move {
  transform: translate(0px, -40px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  background-color: var(--white-color);
  line-height: 1.5;

  color: var(--regular-text-color);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}
